<div id="newBlackoutModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Blackout</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>GBLOC:</label>
                    <select class="form-control" ng-model="black.newBlackout.gbloc" ng-click="black.buildAreaList()">
                        <option ng-repeat="g in black.gblocs" value="{{g}}">{{g}}</option>
                    </select>
                    <label>Area:</label>
                    <select class="form-control" ng-model="black.newBlackout.area" ng-show="black.newBlackout.gbloc !== undefined">
                        <option ng-repeat="a in black.areas" value="{{a}}">{{a}}</option>
                    </select>
                    <label>Start Date:</label><input class="form-control" type="date" ng-model="black.newBlackout.blackout_start_date">
                    <label>End Date:</label><input class="form-control" type="date" ng-model="black.newBlackout.blackout_end_date">
                    <label>Type:</label>
                    <select class="form-control" ng-model="black.newBlackout.type_blackout">
                        <option ng-repeat="t in black.types" value="{{t}}">{{t}}</option>
                    </select>
                    <label class="radio-inline"><input type="radio" name="orig_dest" ng-model="black.newBlackout.orig_dest" value="O">Origin</label>
                    <label class="radio-inline"><input type="radio" name="orig_dest" ng-model="black.newBlackout.orig_dest" value="D">Destination</label>
                    <div style="margin-top: 2%">
                        <button class="btn btn-success" ng-click="black.addBlackout()">Confirm</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>